<% if (success && success.length) { %>
    <div class="alert animation alert-success alert-dismissible fade show col-10 offset-1 col-sm-9 offset-sm-1 col-lg-6 offset-lg-2" role="alert">
    <%= success %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>  
<% } %>

<% if (error && error.length) { %>
    <div class="alert animation alert-danger alert-dismissible fade show col-10 offset-1 col-sm-9 offset-sm-1 col-lg-6 offset-lg-2" role="alert">
    <%= error %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>    
<% } %>