<style>
  .search-btn {
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-btn p {
    margin: 0;
  }

  .search-btn:hover {
    background-color: #fe424d;
    color: #fff;
  }

  .search-btn i {
    display: inline;
    margin-right: 0.5rem;
  }

  .search-inp {
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size: 1rem;
    text-align: center;
  }

  /* Hamburger menu */
  .checkboxtoggler {
    width: 2.5em;
    display: flex;
    flex-direction: column;
    gap: 0.7em;
    cursor: pointer;
  }

  .line-1 {
    background: #df6447;
    height: 0.3em;
    border-radius: 10em;
    transition-duration: 500ms;
  }

  .line-2 {
    background: #df6447;
    height: 0.3em;
    border-radius: 10em;
    transition-duration: 500ms;
  }

  .line-3 {
    background: #df6447;
    height: 0.3em;
    border-radius: 10em;
    transition-duration: 500ms;
  }

  #toggleChecker {
    height: 3em;
    width: 100%;
    display: none;
  }

  #toggleChecker:checked + #togglerLable .checkboxtoggler .line-1 {
    -webkit-transform: rotate(45deg) translateY(0.7em) translateX(0.7em);
    -ms-transform: rotate(45deg) translateY(0.7em) translateX(0.7em);
    transform: rotate(45deg) translateY(0.7em) translateX(0.7em);
  }

  #toggleChecker:checked + #togglerLable .checkboxtoggler .line-2 {
    -webkit-transform: rotate(-45deg) translateY(0em) translateX(0.1em);
    -ms-transform: rotate(-45deg) translateY(0em) translateX(0.1em);
    transform: rotate(-45deg) translateY(0em) translateX(0.1em);
  }

  #toggleChecker:checked + #togglerLable .checkboxtoggler .line-3 {
    transform: scaleX(0);
    transform-origin: left;
  }

  .nav-profile {
    position: absolute;
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    top: 3rem;
    right: 1.2rem;
    align-items: center !important;
    min-height: 8rem;
    min-width: 10rem;
    padding: 1.5rem;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.201);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    gap: 0.5rem;
    /* display: none; */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  .nav-profile a:hover {
    color: #fe424d;
  }

</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-nav">
    <a class="navbar-brand" href="/listings"
      ><i class="fa-regular fa-compass"></i
    ></a>

    <div class="navbar-nav">
      <form class="d-flex" role="search" action="/listings/search" method="get">
        <input
          class="form-control me-2 search-inp"
          type="search"
          placeholder="Search"
          name="q"
        />
        <button class="btn search-btn" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
          <p>Search</p>
        </button>
      </form>
    </div>

    <input id="toggleChecker" type="checkbox" />
    <label id="togglerLable" for="toggleChecker">
      <div class="checkboxtoggler">
        <div class="line-1"></div>
        <div class="line-2"></div>
        <div class="line-3"></div>
      </div>
    </label>

    <div class="navbar-collapse" id="navbarNavAltMarkup">
      <div class="nav-profile">
        <a class="nav-link" href="/listings/new">Airbnb your home</a>
        <% if(!currUser) { %>
        <a class="nav-link" href="/signup"><b>Sign up</b></a>
        <a class="nav-link" href="/login"><b>Log in</b></a>
        <% } %> <% if(currUser) { %>
        <a class="nav-link" href="/logout"><b>Log out</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>

<script>
  const hamMenu = document.querySelector("#toggleChecker");
  const profileMenu = document.querySelector(".nav-profile");

  hamMenu.addEventListener("click", () => {
    if (profileMenu.style.visibility != "visible") {
      profileMenu.style.visibility = "visible";
      profileMenu.style.opacity = 1;
    } else {
      profileMenu.style.visibility = "hidden";
      profileMenu.style.opacity = 0;
    }
  });
</script>

<!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
    <span class="navbar-toggler-icon"></span>
</button> -->
