<% layout("/layouts/boilerplate") %>

    <style>
        #filters {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }

        #filters a {
            color: black;
            text-decoration: none;
        }

        .filter {
            text-align: center;
            margin-right: 2rem;
            margin-top: 2rem;
            opacity: 0.7;
        }

        .filter:hover {
            opacity: 1;
            cursor: pointer;
        }

        .filter p {
            font-size: 0.8rem;
        }

        .tax-info {
            display: none;
        }

        .tax-toggle {
            border: 1px solid black;
            border-radius: 1rem;
            height: 3.25rem;
            padding: 1rem;
            margin-left: 2rem;
            display: flex;
            align-items: center;
        }
    </style>

    <div id="filters">
        <a class="filter" href="/listings/filter?q=Trending">
            <div><i class="fa-solid fa-fire"></i></div>
            <p>Trending</p>
        </a>
        <a class="filter" href="/listings/filter?q=Rooms">
            <div><i class="fa-solid fa-bed"></i></div>
            <p>Rooms</p>
        </a>
        <a class="filter" href="/listings/filter?q=Iconic cities">
            <div><i class="fa-solid fa-mountain-city"></i></div>
            <p>Iconic cities</p>
        </a>
        <a class="filter" href="/listings/filter?q=Mountains">
            <div><i class="fa-solid fa-mountain"></i></div>
            <p>Mountains</p>
        </a>
        <a class="filter" href="/listings/filter?q=Castles">
            <div><i class="fa-brands fa-fort-awesome"></i></div>
            <p>Castles</p>
        </a>
        <a class="filter" href="/listings/filter?q=Amazing pools">
            <div><i class="fa-solid fa-person-swimming"></i></div>
            <p>Amazing pools</p>
        </a>
        <a class="filter" href="/listings/filter?q=Camping">
            <div><i class="fa-solid fa-campground"></i></div>
            <p>Camping</p>
        </a>
        <a class="filter" href="/listings/filter?q=Farms">
            <div><i class="fa-solid fa-cow"></i></div>
            <p>Farms</p>
        </a>
        <a class="filter" href="/listings/filter?q=Arctic">
            <div><i class="fa-regular fa-snowflake"></i></div>
            <p>Arctic</p>
        </a>
        <a class="filter" href="/listings/filter?q=Domes">
            <div><i class="fa-solid fa-igloo"></i></div>
            <p>Domes</p>
        </a>
        <a class="filter" href="/listings/filter?q=Boats">
            <div><i class="fa-solid fa-ship"></i></div>
            <p>Boats</p>
        </a>

        <div class="tax-toggle">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
              </div>
        </div>
    </div>
    <div class="row row-cols-lg-3 rows-cols-md-2 row-cols-sm-1 mt-3">
        <% for(listing of allListings) { %>
            <a href="/listings/<%= listing._id %>" class="listing-link">
                <div class="card listing-card" >
                    <img src="<%= listing.image.url %>" class="card-img-top" alt="listing" style="height: 20rem">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                        <p class="card-text">
                            <b><%= listing.title %> </b><br>
                            &#8377; <%= listing.price.toLocaleString("en-IN") %> /night
                            <i class="tax-info"> &nbsp; &nbsp;+18% GST</i>
                        </p>
                    </div>
                </div>
            </a>
            
        <% } %>
    </div>

    <script>
        let taxSwitch = document.getElementById("flexSwitchCheckDefault");
        taxSwitch.addEventListener("click", () => {
            let taxInfo = document.getElementsByClassName("tax-info");
            for(info of taxInfo) {
                if(info.style.display != "inline") {
                    info.style.display = "inline";
                } else {
                    info.style.display = "none";
                }
            }
        })
    </script>