<% layout("/layouts/boilerplate") %>
    <div class="row mt-3">
        <div class="col-sm-8 offset-sm-2 px-3">
            <br>
            <h3 class="mb-3">Create a new listing</h3>
            <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" name="listing[title]" placeholder="enter title" required>
                    <div class="valid-feedback">Title looks good!</div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea type="text" class="form-control" name="listing[description]"
                        placeholder="enter description" required></textarea>
                        <div class="invalid-feedback">Please enter a short description</div>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Upload Listing Iamge</label>
                    <input type="file" class="form-control" name="listing[image]" required>
                </div>

                <div class="mb-3">
                    <label for="validationCustom04" class="form-label">Category</label>
                    <select class="form-select" id="validationCustom04" name="listing[category]" required>
                      <option selected disabled value="">Select a category</option>
                      <option value="Rooms">Rooms</option>
                      <option value="Iconic cities">Iconic cities</option>
                      <option value="Mountains">Mountains</option>
                      <option value="Castles">Castles</option>
                      <option value="Amazing pools">Amazing pools</option>
                      <option value="Camping">Camping</option>
                      <option value="Farms">Farms</option>
                      <option value="Arctic">Arctic</option>
                      <option value="Domes">Domes</option>
                      <option value="Boats">Boats</option>
                    </select>
                    <div class="invalid-feedback">
                      Please select a valid category.
                    </div>
                  </div>

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="text" class="form-control" name="listing[price]" placeholder="enter price" required>
                        <div class="invalid-feedback">Please enter a valid price</div>
                    </div>

                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" class="form-control" name="listing[country]" placeholder="enter country" required>
                        <div class="invalid-feedback">Country name should be valid</div>
                    </div>
                </div>

                <div class="mb-3 ">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" class="form-control" name="listing[location]" placeholder="enter location" required>
                    <div class="invalid-feedback">Location should be valid</div>
                </div>
                <button class="btn  edit-btn mt-3">Add</button>
                <br><br>
            </form>
        </div>
    </div>