<% layout("/layouts/boilerplate") %>
<div class="row mt-5">
    <h1 class="col-6 offset-3 pb-3">Login</h1>
    <div class="col-6 offset-3">
        <form action="/login" method="post" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" name="username" id="username" required>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="password" required>
            </div>
            <button class="btn btn-success">Login</button>
        </form>
    </div>
</div>